<!Doctype>
<html lang="en">
<title>Password Reset Email</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<style type="text/css">
  /* client specific styles*/
  /* Reset CSS styles */
  .txt-color:hover {
    color: #ed0e0e !important;
  }

  .bg-rollover:hover {
    background-color: #ed0e0e !important;    
  }

  /*Mobile styles */
</style>
</head>

<body style="background-color: #53565e">
  <!-- start of header table -->
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #F2f1f1">
    <tr>
      <td align="center">
        <!-- start of logo wrapper -->
        <table width="600px" border="0" cellpadding="0" cellspacing="0" style="background-color: #F2f1f1">
          <tr>
            <td align="center" style="padding: 5px 0 5px 0">
              <img
                src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/26fd2b78444493.5ca4ef9d727af.png"
                width="100" alt="" style="display: block; border-radius: 3px; width: 100%; max-width: 100px" border="0">

            </td>
          </tr>
        </table>
        <!-- end of logo wrapper -->
      </td>
    </tr>
  </table>
  <!-- end of header table -->
  <!-- start of body table -->
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#F2f1f1">
    <tr>
      <td align="center">
        <!-- start of body wrapper -->
        <table width="600px" border="0" cellpadding="0" cellspacing="0" style="background-color: #F6F6F6">
          <tr>
            <td align="center">
              <h1 style="font-size: 30px; font-weight: normal; padding: 0 0 10px 0">
                FlaskApp Password Reset
              </h1>

            </td>
          </tr>
          <tr>
            <td style="padding: 0 8px 10px 8px; font-size: 17px">We heard that you lost your <b><a href="#"
                  style="color:#4d4f51; text-decoration:none;"> <span class="txt-color">FlaskApp</span></a></b>
              password. Sorry
              about that!</td>
          </tr>
          <tr>
            <td style="padding: 0 8px 10px 8px; font-size: 17px">But don't worry! You can use the following button to
              reset your password:</td>
          </tr>
          <tr>
            <td>
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="bg-rollover" bgcolor="#6495ED"
                          style=" padding: 12px 18px 12px 18px; border-radius: 3px">
                          <a href="{{link}}" style="color: white; text-decoration: none;">Reset Your Password</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

              </table>

            </td>
          </tr>
          <tr>
            <td style="padding: 10px 8px; font-size: 17px">If you don't use this link within 3 hours, it will expire. To
              get a new password reset link, visit: <br> <a
                href="http://127.0.0.1:5000/reset_password">http://127.0.0.1:5000/reset_password</a></td>
          </tr>
          <tr>
            <td style="padding: 10px 8px; font-size: 17px"><span>Thanks,</span><br>The FlaskApp Team</td>
          </tr>
        </table>
        <!-- end of body wrapper -->
      </td>
    </tr>
  </table>
  <!-- end of body table -->

  <!-- start of footer table -->
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #F2f1f1">
    <tr>
      <td align="center">
        <!-- start of footer wrapper -->
        <table width="600px" border="0" cellpadding="0" cellspacing="0" style="background-color:#F2f1f1">
          <tr>
            <td align="center" style="padding: 10px 0; font-size: 13px; color: #b3b4b5">
              Sick of these emails? Click <a href="#">Unsubscribe</a>.
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 0 0 5px 0; font-size: 13px;">
              <span style="color: #b3b4b5">73, Sector-7A
                Faridabad, Haryana</span>
            </td>
          </tr>

        </table>
        <!-- end of footer wrapper --->
      </td>
    </tr>
  </table>
  <!-- end of footer table -->
</body>

</html>